<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
        <a href="{{ path('fos_user_profile_edit') }}" class="btn">Back</a>
    </div>
</form>
