{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="">
    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />

    <label for="remember_me" class="checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    </label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"  class="btn" />

    <p>
        <a href="{{ path('fos_user_registration_register') }}">Register</a><em> | </em>
        <a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a>
    </p>
</form>
{% endblock fos_user_content %}
